span.araki{background:#00F; padding:0.25em;color:white;border-radius:16px;}
span.shirokane{background:#0B8; padding:0.25em;color:white;border-radius:16px;}
span.shibuya{background:#F0D; padding:0.25em;color:white;border-radius:16px;}


div.hen{background: #ff0; color:#D00; font-size: 0.7em;}
img {
	display:block;
	border: solid 1px #444;
  max-width:600px;
}
blockquote{
  font-weight: bold;
	background:#ff0;
	margin: 1em 0;
	padding-left: 1em;
}
body {
	font-family:sans-serif;
	width:36em;
}
p{
	margin:0; text-indent: 1em;
	line-height: 2em;
}
.zuchuu{
	border : 1px solid red;
	font-size: 0.8em;
}
h1::before{
	content: '●-●';
	color:#F08;
}
h1{margin-top: 2em;}
h2{margin-top: 2em; border-left:3px solid #F08;
padding-left: 0.5em;}
h3{margin-top: 2em;}
h4{margin-top: 4em; border-top: 1px solid #F08;}
h5{
  font-size: 1em;
  margin-bottom: 0;
}
h5::before{
  content: '●';
  color:#F08;
  font-size: 0.7em;
}
h6{margin-bottom: 0em;
  background: #DDD;
  border-radius: 4px 4px 0 0; 
  width: 20em;
}

th{border: 1px solid #DDD; background: #BDF}
td{border: 1px solid #DDD; background: #DEF}

code.lang-bash{
  background: #bbb;
}

pre{
	font-family: Osaka-mono, monospace;
}
pre code{
	background: #FBB;	
	width: 55em;
}
code.lang-css{
  background: #CFD;
}
code.lang-html{
  background: #DEF; 
}
code.lang-js{
  background: #ddd;
}
code.lang-scss{
  background: #FDD;
}
code.lang-t{
	background: #BFB; max-width:30em;		
}
code.lang-cmd{
  background: #000;
  color: #fff;
}
strong{
	color: #F08;
}
del{
	text-decoration: none;
	border: solid 1px #0BF;
	background:  #8EF;
}
em{
  background: #F88;
}
div.hint{
  border:solid 1px #888;
  font-size: 0.8em;
  width:20em;
}

.caption{
	color: #444;
	font-size: 0.7em;
	text-indent: 0;
	margin-bottom: 1em;
}
.trimbase{
	border: solid 1px #444;
}


      /*github.com style (c) Vasily Polovnyov <vast@whiteants.net>*/
      pre code {
        display: block; padding: 0.5em;
        color: #333;
        background: #f8f8ff
      }

      .hljs-class{
        color:#D00;
      }
