div.hen{background: #ff0; color:#D00; font-size: 0.7em;}
img {
	display:block;
	border: solid 1px #444;
}
blockquote{
  font-weight: bold;
	background:#ff0;
	margin: 1em 0;
	padding-left: 1em;
}
body {
	font-family:sans-serif;
	width:36em;
}
p{
	margin:0; text-indent: 1em;
	line-height: 2em;
}
.zuchuu{
	border : 1px solid red;
	font-size: 0.8em;
}
h1::before{
	content: '●-●';
	color:#F08;
}
h1{margin-top: 2em;}
h2{margin-top: 2em; border-left:3px solid #F08;
padding-left: 0.5em;}
h3{margin-top: 2em;}
h4{margin-top: 4em; border-top: 1px solid #F08;}
h5::before{
  content: '●';
  color:#F08;
  font-size: 0.7em;
}
h6{margin-bottom: -1.5em;}

th{border: 1px solid #DDD; background: #BDF}
td{border: 1px solid #DDD; background: #DEF}

code.lang-bush{
  background: #bbb;
}

pre{
	font-family: Osaka-mono, monospace;
}
pre code{
	background: #FBB;	
	width: 55em;
}
code.lang-css{
  background: #CFD;
}
code.lang-html{
  background: #DEF; 
}
code.lang-js{
  background: #ddd;
}
code.lang-scss{
  background: #FDD;
}
code.lang-t{
	background: #BFB; max-width:30em;		
}
code.lang-cmd{
  background: #000;
  color: #fff;
}
strong{
	color: #F08;
}
del{
	text-decoration: none;
	border: solid 1px #0BF;
	background:  #8EF;
}
em{
  background: #F88;
}

.caption{
	color: #444;
	font-size: 0.8em;
	text-indent: 0;
	margin-bottom: 1em;
}
.trimbase{
	border: solid 1px #444;
}


      /*github.com style (c) Vasily Polovnyov <vast@whiteants.net>*/
      pre code {
        display: block; padding: 0.5em;
        color: #333;
        background: #f8f8ff
      }
      pre .comment,
      pre .template_comment,
      pre .diff .header,
      pre .javadoc {
        color: #4b8; /*#998;*/
        font-style: italic
      }
      pre .keyword,
      pre .css .rule .keyword,
      pre .winutils,
      pre .javascript .title,
      pre .nginx .title,
      pre .subst,
      pre .request,
      pre .status {
        color: #333;
        font-weight: bold
      }
      pre .keyword{
      	color: #00F;
      }
      pre .number,
      pre .hexcolor,
      pre .ruby .constant {
        color: #A09;
      }
      pre .string,
      pre .tag .value,
      pre .phpdoc,
      pre .tex .formula {
        color: #d14
      }
      pre .title,
      pre .id {
        color: #900;
        font-weight: bold
      }
      pre .javascript .title,
      pre .lisp .title,
      pre .clojure .title,
      pre .subst {
        font-weight: normal
      }
      pre .class .title,
      pre .haskell .type,
      pre .vhdl .literal,
      pre .tex .command {
        color: #458;
        font-weight: bold
      }
      pre .tag,
      pre .tag .title,
      pre .rules .property,
      pre .django .tag .keyword {
        color: #000080;
        font-weight: normal
      }
      pre .attribute,
      pre .variable,
      pre .lisp .body {
        color: #008080
      }
      pre .regexp {
        color: #009926
      }
      pre .class {
        color: #458;
        font-weight: bold
      }
      pre .symbol,
      pre .ruby .symbol .string,
      pre .lisp .keyword,
      pre .tex .special,
      pre .prompt {
        color: #990073
      }
      pre .built_in,
      pre .lisp .title,
      pre .clojure .built_in {
        color: #0086b3
      }
      pre .preprocessor,
      pre .pi,
      pre .doctype,
      pre .shebang,
      pre .cdata {
        color: #999;
        font-weight: bold
      }
      pre .deletion {
        background: #fdd
      }
      pre .addition {
        background: #dfd
      }
      pre .diff .change {
        background: #0086b3
      }
      pre .chunk {
        color: #aaa
      }